<dialog id="{{ id }}" class="p-4 w-4/12 shadow-xl">
	<form method="dialog" class="flex flex-col">
		<button class="flex justify-end items-center gap-2 text-gray-400 hover:text-gray-500 mb-4">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewbox="0 0 16 16">
				<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
			</svg>
			<span>Cerrar</span>
		</button>
	</form>
	<h2 class="text-lg text-blue-950 font-bold">{{ title }}</h2>
	<hr class="my-4">
    {% block content %}{% endblock %}
</dialog>
