volumes:
  mongodb:
  mariadb:
  grafana:

services:
  app:
    container_name: ${COMPOSE_PROJECT_NAME}-app
    build:
      context: ./
      dockerfile: .docker/Dockerfile
    working_dir: /var/www/html
    volumes:
      - ./app:/var/www/html:cached
      - ./.docker/app.conf:/etc/apache2/sites-available/000-default.conf
      - ./.docker/symfony_worker.conf:/etc/supervisor/conf.d/symfony_worker.conf
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.entrypoints=websecure"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.tls.certresolver=myresolver"
      - "traefik.docker.network=traefik"
    networks:
      - default
      - traefik

  orion:
    container_name: ${COMPOSE_PROJECT_NAME}-orion
    hostname: orion
    image: fiware/orion:${ORION_VERSION}
    depends_on:
      - mongodb
    command: -dbhost mongodb -logLevel DEBUG
    healthcheck:
      test: curl --fail -s http://orion:${ORION_PORT}/version || exit 1
      interval: 5s
  
  iot-agent:
    container_name: ${COMPOSE_PROJECT_NAME}-agent
    hostname: iot-agent
    image: fiware/iotagent-json:${IOTA_VERSION}
    depends_on:
      - mongodb
    environment:
      - IOTA_CB_HOST=orion
      - IOTA_CB_PORT=${ORION_PORT}
      - IOTA_NORTH_PORT=${IOTA_NORTH_PORT}
      - IOTA_REGISTRY_TYPE=mongodb
      - IOTA_TIMESTAMP=true
      - IOTA_MONGO_HOST=mongodb
      - IOTA_MONGO_PORT=${MONGODB_PORT}
      - IOTA_MONGO_DB=iotagentjson
      - IOTA_HTTP_PORT=${IOTA_SOUTH_PORT}
      - IOTA_PROVIDER_URL=http://iot-agent:${IOTA_NORTH_PORT}
      - IOTA_DEFAULT_RESOURCE=/iot/json
      - IOTA_CB_NGSI_VERSION=v2
      - IOTA_LOG_LEVEL=DEBUG
      - IOTA_AUTOCAST=true

  cygnus:
    container_name: ${COMPOSE_PROJECT_NAME}-cygnus
    image: fiware/cygnus-ngsi:${CYGNUS_VERSION}
    depends_on:
      - mariadb
    environment:
      - CYGNUS_MYSQL_HOST=mariadb
      - CYGNUS_MYSQL_PORT=${MARIADB_PORT}
      - CYGNUS_MYSQL_USER=${MARIADB_ROOT_USER}
      - CYGNUS_MYSQL_PASS=${MARIADB_ROOT_PASSWORD}
      - CYGNUS_MYSQL_SERVICE_PORT=${CYGNUS_SERVICE_PORT}
      - CYGNUS_LOG_LEVEL=DEBUG
      - CYGNUS_API_PORT=${CYGNUS_API_PORT}
      - CYGNUS_SERVICE_PORT=${CYGNUS_SERVICE_PORT}
    healthcheck:
      test: curl --fail -s http://cygnus:${CYGNUS_API_PORT}/v1/version || exit 1
      interval: 5s

  mariadb:
    container_name: ${COMPOSE_PROJECT_NAME}-mariadb
    image: mariadb:${MARIADB_VERSION}
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
    volumes:
      - mariadb:/var/lib/mysql

  grafana:
    container_name: fiware-grafana
    image: grafana/grafana
    ports:
      - ${GRAFANA_PORT}:${GRAFANA_PORT}
    depends_on:
      - mariadb
    volumes:
      - grafana:/var/lib/grafana

  mongodb:
    container_name: fiware-mongodb
    image: mongo:${MONGODB_VERSION}
    volumes:
      - mongodb:/data
    
networks:
  default:
  traefik:
    name: traefik
    external: true
