{% if is_granted('ROLE_USER') %}
    <nav class="list-none flex justify-end items-center flex-auto gap-2">
        {% if is_granted('ROLE_ADMIN') %}
            {#<li>
                <twig:Link title="Grafana" icon="bi bi-pie-chart-fill" href="http://localhost:3000" target="_blank"/>
            </li>#}
            <li>
                <twig:Link title="Settings" icon="bi bi-gear-fill" href="{{path('app_settings_index')}}"/>
            </li>
        {% endif %}
        <li>
            <twig:Link title="Log out" type="alert" icon="bi bi-box-arrow-right" href="{{logout_path()}}"/>
        </li>
    </nav>
{% endif %}
